<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="/library/webcomponentsjs-1.0.0/webcomponents-lite.js"></script>
  <link rel="import" href="/components/index.html">
  <link rel="import" href="/components/element.class.html">
  <link rel="import" href="/components/highcharts.class.html">
  <link rel="import" href="/components/highcharts-bar/index.html">
  <link rel="import" href="/components/highcharts-line/index.html">
  <link rel="import" href="/components/highcharts-area/index.html">
  <link rel="import" href="/components/highcharts-bubble/index.html">
  <link rel="import" href="/components/highcharts-scatter/index.html">
  <link rel="import" href="/components/highcharts-pie/index.html">
  <link rel="import" href="/components/highcharts-3d-pie/index.html">
  <link rel="import" href="/components/highcharts-3d-column/index.html">
  <link rel="import" href="/components/highcharts-3d-scatter/index.html">
</head>
<body>
  <cc-highcharts-bar></cc-highcharts-bar>
  <cc-highcharts-area></cc-highcharts-area>
  <cc-highcharts-line></cc-highcharts-line>
  <cc-highcharts-pie></cc-highcharts-pie>
  <cc-highcharts-bubble></cc-highcharts-bubble>
  <cc-highcharts-scatter></cc-highcharts-scatter>
  <cc-highcharts-3d-pie>
    <h1 style="color:red;">Hello</h1>
  </cc-highcharts-3d-pie>
  <cc-highcharts-3d-column></cc-highcharts-3d-column>
  <cc-highcharts-3d-scatter></cc-highcharts-3d-scatter>
</body>
</html>
