body {
  margin: 0;
}

.relative {
  position: relative;
}

.absolute {
  top: 0;
  bottom: 0;
}

.absolute, 
.absolute-width {
  position: absolute;
  left: 0;
  right: 0;
}

.inline-block {
  display: inline-block;
}

.middle {
  vertical-align: middle;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}
