<dom-module id="cc-highcharts-3d-pie">
  <template strip-whitespace>
    <div id="chartContainer" data-options$="[[chartOptions]]">
      <slot></slot>
    </div>
  </template>
  <script>
    class Highcharts3DPie extends CCBoard.Highcharts {
      static get is() { return 'cc-highcharts-3d-pie' }
      static get chartType() { return '3d-pie' }

      props() {
        return Object.assign(super.props(), {
          [CCBoard.Highcharts.componentType]: {
            chart: {
              renderTo: 'chartContainer',
              type: 'pie',
              options3d: {
                enabled: true,
                alpha: 45,
                beta: 0
              }
            },
            title: {
              text: 'Browser market shares at a specific website, 2014'
            },
            tooltip: {
              pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
              pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                depth: 35,
                dataLabels: {
                  enabled: true,
                  format: '{point.name}'
                }
              }
            },
            series: [{
              type: 'pie',
              name: 'Browser share',
              data: [
                ['Firefox', 45.0],
                ['IE', 26.8],
                {
                  name: 'Chrome',
                  y: 12.8,
                  sliced: true,
                  selected: true
                },
                ['Safari', 8.5],
                ['Opera', 6.2],
                ['Others', 0.7]
              ]
            }]
          }
        })
      }
      // onChartOptionsChanged (chartOptions) {
      //   super.onChartOptionsChanged(chartOptions)
      //   console.log(chartOptions)
      // }
    }
    customElements.define(Highcharts3DPie.is, Highcharts3DPie)
  </script>
</dom-module>